:root {
    --gutter: 20px;
}
body{ padding:0; margin:0; }

.vss {
    
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: 100%;
    align-content: start;
    width: 100%;
    transition: 300ms all;
    position: static;
    .vss-s {
        background-color: #f1f1f1;
        grid-column: 1 / -1;
        display: grid;
        //grid-gap: calc(var(--gutter) / 2);
        grid-template-columns: repeat(100, 100%);
        grid-template-rows: minmax(150px, 1fr);
        scroll-snap-type: proximity proximity;
        //padding: calc(var(--gutter) / 2);
        transition: 300ms left;
        position: static;
        left: 0;
    }
    .vss-i, slide {
        background: #fff;
        
    }
}
.vss {
    overflow-x: hidden;
}
.scroll .vss-s {
    overflow-x: scroll;
}
